<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/eeb8707309.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>Home</title>
  </head>

  <script>
    function popup(id, name, desc, price, scr) {
      id = id;
      price = parseInt(price);
      console.log(id, price, name, desc);
      var popup = document.getElementById("popup");
      var popupouter = document.createElement("div");
      var popupinner = document.createElement("div");
      var cross = document.createElement("button");
      popup.innerText = "";
      popupouter.style.position = "absolute";
      popupouter.style.top = "12%";
      popupouter.style.right = "1rem";
      popupouter.style.bottom = "10%";
      cross.className = "btn btn-primary";
      cross.innerText = "X";
      console.log(popup);
      cross.addEventListener("click", () => {
        popup.innerHTML = "";
      });
      popupinner.innerHTML = ` 
      <div class="card" style="width: 25rem" ">
        <img
          class="card-img-top img-fluid"
          src=${scr}
          alt="Card image cap"
           
        />
      
        <div class="card-body">
          <h5 class="card-title"> ${name}</h5>
          <h6 class="card-title"> ${desc}</h6>
          <h5 class="card-title"> ${price}</h5>
      
        
        </div>
          
       </div>`;
      popupouter.appendChild(cross);
      popupouter.appendChild(popupinner);
      popup.appendChild(popupouter);
    }
  </script>
  <body class="pr-3">
    <br />

    <br />

    <%- include('partials/header', {name: name ,isSeller:isSeller}); %>
    <div id="popup" style="position: sticky; top: 4rem; z-index: 1"></div>

    <div id="loadmore" class="row" style="z-index: 0">
      <% products.forEach((numeber,index,product)=>{ %>
      <div class="col-sm-12 col-md-5 col-lg-3">
        <%-include('partials/cart', {data:product[index]}); %>
      </div>

      <% }) %> <% page=parseInt(page)+1 %> <% if(products.length>7){%>

      <div style="display: flex; justify-content: center">
        <div style="display: inline; margin-left: 45vw">
          <a href="/fetchAll/<%=page%>" class="btn bnt-lg btn-info py-2 m-3">
            Show more</a
          >
        </div>
      </div>
      <% }%>
    </div>
  </body>
</html>
